<h1>Reply Tweet</h1>
<%= form_for @tweet, url: "/tweets/#{params[:id]}/reply", html: {method: "post"} do |f| %>
  <%= f.text_area :content, size: "60x4", required: true %>
  <%= f.submit "Tweet" %>
<% end %>
